#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* General App Background */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  font-family: 'Arial', sans-serif;
  color: #333;
}

/* App Wrapper */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #ffffff, #e0eafc);
  padding: 20px;
}

/* General Styling for Entire App */
.App * {
  box-sizing: border-box;
}

/* Additional Styling */
.App h2, .App h3, .App h1 {
  color: #444;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.App button {
  cursor: pointer;
}

